<!doctype html>
    <html class="no-js" lang="{{ request.locale.iso_code }}">
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="">
        <link rel="canonical" href="{{ canonical_url }}">
        <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    
        {%- if settings.favicon != blank -%}
          <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
        {%- endif -%}
    
        <title>
          {{ page_title }}
          {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
          {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
          {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
        </title>
    
        {% if page_description %}
          <meta name="description" content="{{ page_description | escape }}">
        {% endif %}
    
        {% render 'meta-tags' %}
    
        {{ content_for_header }}
    
        {{ 'theme.css' | asset_url | stylesheet_tag }}
    
        <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
		<script type="application/ld+json">
			{
			  "@context": "http://schema.org",
			  "@type": "Organization",
			  "name": {{ shop.name | json }},
			  "url": {{ shop.url | append: page.url | json }}
			}
		  </script>
		  
		  {%- if request.page_type == 'index' -%}
			{% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
			<script type="application/ld+json">
			  {
				"@context": "http://schema.org",
				"@type": "WebSite",
				"name": {{ shop.name | json }},
				"potentialAction": {
				  "@type": "SearchAction",
				  "target": {{ potential_action_target | json }},
				  "query-input": "required name=search_term_string"
				},
				"url": {{ shop.url | append: page.url | json }}
			  }
			</script>
		  {%- endif -%}
      </head>
    
      <body class="moon {{ template | handle }}">
		<div id="page">
        <a class="skip-to-content-link button visually-hidden" href="#MainContent">
          {{ "accessibility.skip_to_text" | t }}
        </a>
    
		{% section 'site-banner' %}
		{% render 'top-menu' %}
        {% section 'header' %}
    
        <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
			{{ content_for_layout }}
        </main>
    
        {% section 'footer' %}
    
        <ul hidden>
          <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
        </ul>
		</div>
    
        <script>
          window.routes = {
            cart_add_url: '{{ routes.cart_add_url }}',
            cart_change_url: '{{ routes.cart_change_url }}',
            cart_update_url: '{{ routes.cart_update_url }}',
            predictive_search_url: '{{ routes.predictive_search_url }}'
          };
    
          window.cartStrings = {
            error: `{{ 'sections.cart.cart_error' | t }}`,
            quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t }}`
          }
    
          window.variantStrings = {
            addToCart: `{{ 'products.product.add_to_cart' | t }}`,
            soldOut: `{{ 'products.product.sold_out' | t }}`,
            unavailable: `{{ 'products.product.unavailable' | t }}`,
          }

		  window.product = {{ product | json }}
		  window.currentVariant = {{ product.selected_or_first_available_variant | json }}
    
          window.accessibilityStrings = {
            shareSuccess: `{{ 'general.share.success_message' | t }}`,
          }
        </script>
		<script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
      </body>
    </html>
    